<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Admin/Desktop/Umobix_Selenide">
        <classes>
            <class name="UmobixMainFlowTest.main">
                <methods>
                    <include name="HomePageTryNowClick"/>
                    <include name="subscriptionPricesVisibility"/>
                    <include name="emailInputFieldDisplay"/>
                    <include name="emailPlaceholderCheck"/>
                    <include name="emailInputIntoField"/>
                    <include name="emailButtonDisplay"/>
                    <include name="emailButtonClick"/>
                    <include name="compareDeviceURL"/>
                    <include name="deviceH3TitleCheck"/>
                    <include name="deviceAndroidButtonCheck"/>
                    <include name="deviceAndroidButtonText"/>
                    <include name="deviceIosButtonCheck"/>
                    <include name="deviceIosButtonText"/>
                    <include name="deviceTypeChoosing"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>